<div id="p1_points" class="p1 points">
p1score
	{% for image, point in p1.score.items%}
		<img src="{{image}}" class="small-img"></img>
		<div class="point_label">{{point}}</div>
	{% endfor %}
</div>

<div id="preview" class="fullspan">
<div id="preview-name" class="preview-name"></div>
<img id="preview-img" class="preview-img" src=""></img>
<div id="preview-text" class="preveiw-text"></div>
</div>

<div id="p2_points" class="p2 points">
p2score
	{% for image, point in p2.score.items%}
		<img src="{{image}}" class="small-img"></img>
		<div class="point_label">{{point}}</div>
	{% endfor %}
</div>